body {
    text-align: center;
    background-color: #c4d3d4;

}

.App {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    width: 80%;
    padding: 20px;
    font-family: 'Cardo', serif;
    font-size: 24px;
    background-color: #c4d3d4;

}

.header {
    border: solid #c4d3d4;
    color: #587f83;
    border-radius: 8px;
    padding-bottom: 30px;
    width: 100%;
    background-color: white;
}

.App h1 {
    font-size: 40px;
    color: #587f83;
    font-family: 'Josefin Sans', sans-serif;
}

.App input,
.App button {
    font-size: 24px;
    background-color: #f1f2f4;
    border: none;
    margin: 1px;
    border-radius: 6px;
    padding: 5px 17px;
}

.App input:hover {
    font-size: 26px;
}

.App button:hover {
    cursor: pointer;
    font-size: 26px;
}

.App button:active span::after {
    content: 'ed';
}


.clicked {
    text-decoration: line-through;
    animation: strike 1s linear;
}

.tasksAndDoneTasks {
    width: 100%;
    margin-top: 20px;
    border: solid #c4d3d4;
    border-radius: 8px;
    padding-bottom: 30px;
    background-color: white;
}

.tasks {
    width: 100%;
    padding-top: 25px;
}

.taskDelete {
    margin-left: 6px;
    margin-top: 5px;
    width: 20px;
    height: 20px;
}

.taskDelete:hover {
    cursor: pointer;
}

.tasks button {
    margin-left: 20px;
}

.clearTask {
    display: flex;
    justify-content: center;
}

.tasks div {
    margin-bottom: 20px;
    display: flex;
    justify-content: left;
    padding-left: 20px;
}

.tasks input {
    margin-right: 5px;
}