body {
    background-color: white;
    text-align: center;
}

.App {
    background-color: white;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    width: 80%;
    border: solid #717C7D;
    padding: 20px;
    font-family: 'Lato', sans-serif;
    font-size: 24px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    color: #587f83;
    border-radius: 4px;
}

.App h1 {
    font-size: 40px;
    color: #587f83
}

.App input,
.App button {
    font-size: 24px;
    background-color: #f1f2f4;
    border: none;
    margin: 1px;
    border-radius: 4px;

}

.App input:hover {
    font-size: 26px;
}

.App button:hover {
    cursor: pointer;
    font-size: 26px;
}

.App button:active span::after {
    content: 'ed';
}

.clicked {
    text-decoration: line-through;
    animation: strike 1s linear;
}


.tasksAndDoneTasks {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.tasks {
    width: 50%;
}


.tasks>* {
    margin-bottom: 20px;
}
